VSCodium
karabiner
gtk-4.0
frontforge
linearmouse
spotify-tui
.DS_Store
dconf
environment.d
fontconfig/conf.d
fontforge
fontforge
systemd/user
user-dirs.conf
user-dirs.dirs
kde.org
keepassxc
obsidian
session
threema-web
QtProject.conf
